@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kaushan+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #F5F5F0;
}

/*HEADER*/

.header{
    width: 100%;
    background: linear-gradient(rgba(27, 27, 27, 0.7),rgba(27, 27, 27, 0.7)),url('../img/Group70.png') center ;
    background-size: cover;
}
nav{
    display: flex;
    padding: 3% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 100px;
}

.nav-links ul{
    list-style: none;
}

.nav-links ul li{
    display: inline-block;
    padding: 4px 10px;
}

.nav-links ul li a{
   text-decoration: none;
   color: white;
}

.nav-links ul li a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: #f44336;
    display: block;
    transition: 0.5s;
    margin: auto;
}

.nav-links ul li a:hover::after{
    width: 100%;
    
}
.btn{
    color: #F28F6B;
    text-decoration: none;
}

/*PRODUTOS*/

.produtos{
    width: 80%;
    margin: auto;
    padding-top: 100px;
}
.section-header{
    display: flex;
    justify-content: space-between;
}
.btn-servico{
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 100px;
    text-transform: capitalize;
    padding: 12px 24px;
    transition: .5s;
}

.btn-servico:hover{
    background-color: #F28F6B;
    border: #F28F6B 1px solid;
}
.row{
    display: flex;
    margin-top: 5%;  
    justify-content: space-between;
}
.prod-col{
    margin: 20px;
    position: relative;
    flex-basis: 28%;
}

.prod-col img{
    width: 100%;
    border-radius: 5px;
    display: block;
    
}
.prod-col p{
  color: #F28F6B; 
}
.prod-col:hover{
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.3);
}

/*FOOTER*/

footer{
    background-color: rgba(0, 0, 0, 0.699);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}
footer img{
    width: 100px;
}
footer > div#logo2{
    width: 35%;
    padding: 10px;
    margin: 10px;
}
footer > div#logo2 > img{
    padding: 10px;
    margin: 10px;
}
footer > div#logo2 > p{
    color: white;
    padding: 10px;
    margin: 10px;
    text-align: justify;
}
footer > div#empresa{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 55%;
    padding: 10px;
    margin: 10px;
}
.company{
    padding: 10px;
    margin: 10px;
}
.company h3{
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
.company ul{
    color: #F28F6B;
    margin: 10px;
    list-style: none;
}
.company ul li{
    padding: 10px 0px;
}
.company ul li a{
    color: #F28F6B;
}

/*ESPONSIVIDADE*/

nav .fa-solid{
    display: none;
}
.menu{
    position: absolute;
    right: 0;
    top: 97px;
    background-color: black;
    width: 200px;
    height: 84.5%;
    z-index: 2;
    display: none;
}
.menu ul{
    list-style: none;
    margin: 20px;
    line-height: 50px;
    text-align: center;
    
}

.menu ul li a{
    color: white;
    text-decoration: none;
}

.menu ul li a:hover{
    color: #F28F6B;
}

@media screen and (max-width:700px) {
    .row{
        flex-direction: column;
    }
    nav{
        background-color: black;
    }
    .nav-links ul li{
        display: none;
    }
    .btn{
        display: none;
    }
    nav .fa-solid{
        display: block;
        color: white;
        font-size: 22px;
        cursor: pointer;
        margin: 10px;
    }
}
